<%- include("partials/header.ejs") %>

<section id="chalkboard">
    <h2>Chalkboard</h2>
    <div id="chalkboard-container">
        <canvas></canvas>
        <div id="chalk"></div>
    </div>
</section>
<script type="application/javascript" src="/scripts/chalkboard.js"></script>

<%- include("partials/footer.ejs") %>