<%- include("partials/header.ejs") %>

<section>
    <h2>Welcome!</h2>
    <p>
        <span class="span-paragraph-start">Hey</span> there! I'm <span class="span-text">Chris</span>, a software developer and CS hobbiest living in Pennsylvania.
        Pursuing a career in web development.
    </p>
</section>
<section>
    <h2>Experience</h2>
    <p>
        <span class="span-paragraph-start">I</span> graduated with a <span class="span-text">BSc in Computer Science from the University of Maryland</span>, in 2021. I 
        specialized in Machine Learning, Artifical Intelligence, and Data Science, and performed
        various projects in Python, R, C/C++, and Java. After graduation, I worked at 
        the <span class="span-text">Naval Research Laboratory</span> in Washington, DC as a Computer Scientist. I'm currently
        enrolled at <span class="span-text">Montgomery Community College</span> pursuing a Web Development and Design Certificate.
    </p>
</section>
<section>
    <h2>Projects</h2>
    <p>
        <span class="span-paragraph-start">Some</span> sample projects.
    </p>
    <!-- <div class="project-container">
        <img src="/images/logo-javascript.svg" alt="JS logo">
        <div class="project-text-container">
            <h3>Programming Language</h3>
            <p>
                A programming language using <span class="span-text">JS</span>.
            </p>
            <p>
                <a href="/">Github link</a>
            </p>
        </div>
    </div> -->
    <div class="project-container">
        <img src="/images/python.svg" alt="Python logo">
        <div class="project-text-container">
            <h3>Payroll Application</h3>
            <p>
                Payroll app from an internship using <span class="span-text">Python</span>.
            </p>
            <p>
                <a href="https://github.com/acdlee/Payroll-App" target="_blank">Github link</a>
            </p>
        </div>
    </div>
    <div class="project-container">
        <img src="/images/logo_dark.svg" alt="React logo">
        <div class="project-text-container">
            <h3>myCalendar</h3>
            <p>
                Implementation of a weekly planner using <span class="span-text">React</span>.
            </p>
            <p>
                <a href="https://github.com/acdlee/myCalendar" target="_blank">Github link</a>
            </p>
        </div>
    </div>
    <div class="project-container">
        <img src="/images/expressjs-icon.svg" alt="ExpressJS logo">
        <div class="project-text-container">
            <h3>Portfolio</h3>
            <p>
                This website runs on <span class="span-text">Express and Node</span>.
            </p>
            <p>
                <a href="https://github.com/acdlee/Portfolio" target="_blank">Github link</a>
            </p>
        </div>
    </div>
    <div class="project-container">
        <img src="/images/php-logo.svg" alt="PHP logo">
        <div class="project-text-container">
            <h3>Sports Management Software</h3>
            <p>
                Implementation of a Sports Management Software application <span class="span-text">PHP</span>.
            </p>
            <p>
                <a href="https://github.com/acdlee/TechSupport" target="_blank">Github link</a>
            </p>
        </div>
    </div>
</section>


<%- include("partials/footer.ejs") %>