<%- include("partials/header.ejs") %>

<section>
    <h2>Projects</h2>
    <p>
        Here lies projects I've worked on over the years, organized by category.
    </p>
</section>
<section id="section-projects">
    <article class="article-project-category-container">
        <h2>Frontend Web Development</h3>
        <div class="article-project-description">
            <p>
                <a href="#">myCalendar</a> is a Google Calendar inspired <span class="span-text">React</span> weekly planner,
                complete with adding, removing, and viewing weekly tasks, along with a concise weather
                report fetched from <a target="_blank" href="https://www.weather.gov/documentation/services-web-api#/">weather.gov</a>.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#">coffeeShop</a> is a website for a fictitious business 
                in Fells Point, Baltimore, made with <span class="span-text">semantic markup, responsive design princicples, and jQuery</span>.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#">frontendMentored</a> is a repository full of solutions <a target="_blank" href="https://www.frontendmentor.io/challenges">Frontend Mentor</a>
                    challenges.
            </p>
        </div>
    </article>
    <article class="article-project-category-container">
        <h2>Backend/Full Stack Web Development</h3>
        <div class="article-project-description">
            <p>
                <a href="#">Sports Management System</a> is a designed for the technical support department of a hypothetical software company
                that develops software for sports leagues, with PHP using the MVC pattern and MySQL, through XAMPP. 
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#">Portfolio</a> is the site you're currently navigating, built with Node.js, Express.js, and EJS.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#">Chirp</a> is a blog website built with Node.js, Express.js, and EJS.
            </p>
        </div>
    </article>
    <article class="article-project-category-container">
        <h2>Miscellneous Projects</h3>
        <div class="article-project-description">
            <p>
                <a href="#">PacmanAI</a> is my solution to <a target="_blank" href="https://ai.berkeley.edu/project_overview.html">Berkley's PacmanAI project</a>, using Python with 
                Implementations of various Artifical Intelligence-related algorithms.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#">Payroll App</a> shows some frontend and backend code I wrote during my second internship, using Python
                and PyQT5.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#">WordNet</a> is a unniversity project implementing a semantic lexicon for the English language, used 
                extensively in computational linguistics, written in Ruby.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#">SmallC</a> is another university project, implementing a "small" C intrepeter and parser, in the
                functional programming language OCaml.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#">CCalendar</a> is yet another university project, creating a CLI calendar in C.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#">Advanced Data Structures</a> is a collection of code solutions to SPOJ coding problems
                I completed for programming assignments for the upper-level Data Structures course at UMD, written
                in C++.
            </p>
        </div>
    </article>
</section>


<%- include("partials/footer.ejs") %>