<%- include("partials/header.ejs") %>

<section>
    <h2>Projects</h2>
    <p>
        Some of my favorite projects over the years, organized by category.
    </p>
</section>
<section id="section-projects">
    <article class="article-project-category-container">
        <h2>Frontend Web Development</h3>
        <div class="article-project-description">
            <p>
                <a href="https://github.com/acdlee/myCalendar" target="_blank">myCalendar</a> is a Google Calendar inspired <span class="span-text">React</span> weekly planner,
                complete with adding, removing, and viewing weekly tasks, along with a concise weather
                report fetched from <a target="_blank" href="https://www.weather.gov/documentation/services-web-api#/">weather.gov</a>.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a class="isDisabled" title="Under Construction" href="#">coffeeShop</a> is a website for a fictitious business 
                in Fells Point, Baltimore, made with <span class="span-text">semantic markup, responsive design princicples, and jQuery</span>.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#">frontendMentored</a> is a repository full of solutions <a target="_blank" href="https://www.frontendmentor.io/challenges">Frontend Mentor</a>
                    challenges.
            </p>
        </div>
    </article>
    <article class="article-project-category-container">
        <h2>Backend/Full Stack Web Development</h3>
        <div class="article-project-description">
            <p>
                <a href="https://github.com/acdlee/TechSupport" target="_blank">Sports Management System</a> is a designed for the technical support department of a hypothetical software company
                that develops software for sports leagues, <span class="span-text">with PHP using the MVC pattern, MySQL, and XAMPP</span>. 
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="https://github.com/acdlee/Portfolio" target="_blank">Portfolio</a> is the site you're currently navigating, <span class="span-text">built with Node.js, Express.js, and EJS</span>.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="https://github.com/acdlee/Chirp" target="_blank">Chirp</a> is a blog website built with <span class="span-text">Node.js, Express.js, and EJS</span>.
            </p>
        </div>
    </article>
    <article class="article-project-category-container">
        <h2>Miscellneous Projects</h3>
        <div class="article-project-description">
            <p>
                <a href="https://github.com/acdlee/PacmanAI" target="_blank">PacmanAI</a> is my solution to <a target="_blank" href="https://ai.berkeley.edu/project_overview.html">Berkley's PacmanAI project</a>, using Python with 
                Implementations of various Artifical Intelligence-related algorithms.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#" class="isDisabled" title="Under Construction">Payroll App</a> shows some frontend and backend code I wrote during my second internship, <span class="span-text">using Python
                    and PyQT5</span>.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#" class="isDisabled" title="Under Construction">WordNet</a> is a unniversity project implementing a semantic lexicon for the English language, used 
                extensively in computational linguistics, <span class="span-text">written in Ruby</span>.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#" class="isDisabled" title="Under Construction">SmallC</a> is another university project, implementing a "small" C intrepeter and parser, in the
                functional programming language <span class="span-text">OCaml</span>.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="#" class="isDisabled" title="Under Construction">CCalendar</a> is yet another university project, creating a CLI calendar in <span class="span-text">C</span>.
            </p>
        </div>
        <div class="article-project-description">
            <p>
                <a href="https://github.com/acdlee/AdvancedDataStructures" target="_blank">Advanced Data Structures</a> is a collection of code solutions to SPOJ coding problems
                I completed for programming assignments for the upper-level Data Structures course at UMD, written
                in <span class="span-text">C++</span>.
            </p>
        </div>
    </article>
</section>


<%- include("partials/footer.ejs") %>