<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <header>
    <h1><a href="/">Christopher Lee</a></h1>
    <div class="header-container">
      <span>Programmer; CS Hobbiest</span>
      <nav>
        <ul>
          <li><a href="/">Email;</a></li>
          <li><a href="/about">About;</a></li>
          <li><a href="/projects">Projects;</a></li>
          <li><a href="/">Github</a></li>
        </ul>
      </nav>
    </div>
    <hr>
  </header>
  <main>

<section>
    Projects page.
</section>


<%- include("partials/footer.ejs") %>