<%- include("partials/header.ejs") %>

<section>
    <% if (locals.project) { %>
        <h2><%= project %></h2>
        



    <% } else { %>
        <h2>OH! No valid project was specified.</h2>
    <% } %>
</section>

<%- include("partials/footer.ejs") %>