@import url(base.css);

/* REUSABLE CLASSES */
.span-text {
    color: var(--maroon);
    font-weight: bold;
}


/* MAIN */
main section {
    max-width: 40em;
    margin: 0 auto;
    padding: 1em 1em;
}

main section h2 {
    font-size: 30px;
    color: var(--darkpurple);
}

main section p {
    font-size: 1.25em;
}

main section .project-container {
    padding-top: 2.5em;
    padding-bottom: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

main section .project-container img {
    width: 100px;
    height: 100px;
    padding: .5em;
    border-radius: 50px;
    transition: all 0.3s;
    border: 4px solid var(--darkpurple);
}

main section .project-container img:hover {
    border-color: var(--purple);
    box-shadow: 0 2px 3px var(--charcoal);
    padding-top: .25em;
}

main section .project-text-container {
    padding-left: 1em;
    padding-top: .5em;
}

main section .project-text-container h3 {
    font-size: 25px;
    color: var(--charcoal);
}

